body{
	margin: 0;
	padding: 0;
	font-family: Arial;
  background-color: #fffff0;
}
#snackbar {
	visibility: hidden;
	background-color: darkslategray;
  color: darkorange;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  bottom: 80px;
  left:0;
  right: 0;
  font-size: 10px;
}
#snackbar h1{
	text-shadow:  5px 5px 5px lightyellow;
}
* {box-sizing: border-box;}
